.customers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px 0 40px 40px;
}

.customerCard {
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.35),
  0 0 20px 0 rgba(255, 153, 255, 0.35);

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.65),
    0 0 20px 0 rgba(255, 153, 255, 0.65);
    cursor: pointer;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullName {
  font-weight: 700;
  font-size: 18px;
  padding-top: 10px;
  line-height: 28px;
  text-align: center;
}

.email {
  display: flex;
  position: relative;
  align-items: center;

  &::before {
    //position: absolute;
    content: url("../../../assets/iconEmail.svg");
    margin-right: 5px;
  }
}

.contacts {
  width: 100%;
}

.phone {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;

  &::before {
    //position: absolute;
    content: url("../../../assets/iconPhone.svg");
    margin-right: 5px;
  }
}

.createdData {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #A5A5A5;
  padding-top: 10px;
  padding-bottom: 15px;
}

.message {
  padding: 50px 80px 50px 50px;
  font-size: 20px;
}

.button {
  cursor: pointer;
  padding: 10px 20px;
  background: #D78DFF;
  border: none;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #FFFFFF;

  &:hover {
    background: #9e8dff;
  }

  &:active {
    background: #9e8dff;
    opacity: 0.8;
  }
}

.buttonAdd {
  padding: 18px 30px;
  font-size: 18px;
}

.controlBar {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-top: 40px;
}