// вынести все !!! либо в новый компонент, либо в общий css

.controlBar {
  padding-top: 50px;
  padding-left: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 80px 40px 40px;
  color: #4F4E4E;
}

.card {
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.35),
  0 0 20px 0 rgba(255, 153, 255, 0.35);

  position: relative;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.65),
    0 0 20px 0 rgba(255, 153, 255, 0.65);
    cursor: pointer;
  }
}

.name {
  padding-top: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.confirmation {
  display: flex;
  flex-direction: column;
}

.category {
  padding-top: 20px;
  word-wrap: break-word;
  color: #d38dff;
  text-align: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
