
.title {
  font-weight: 400;
  font-size: 40px;
  padding: 30px 0 100px 40px
}

.appointments {
  grid-template-columns: repeat(10, 1fr);
  padding: 3%;
  display: grid;
  row-gap: 10px;
  //gap: 20px;

}

.cell {
  display: grid;
  place-items: center;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  border: 1px solid #d89ff6;
  justify-content: space-between;

  &:not(&:first-child) {
    border-left: 1px solid #d89ff6;
  }
}
.headerCell {
  background: #EDCCFF;
}

.startCell {
  border-left: 1px solid #d89ff6;
  border-radius: 40px 0 0 40px;

}

.endCell {
  border-left: 1px solid #d89ff6;
  border-radius: 0 40px 40px 0;
}

.rowTable {

}
.message {
  padding: 20px;
  display: flex;
  max-width: 350px;
  min-height: 200px;
}
.openOption {
  color: blue; /* Установите цвет для опции "Открыто" */
}

.inProgressOption {
  color: green; /* Установите цвет для опции "В работе" */
}

.completedOption {
  color: purple; /* Установите цвет для опции "Завершено" */
}

.canceledOption {
  color: red; /* Установите цвет для опции "Отменено" */
}

.newEventBlock{
  display: flex;
  flex-direction: column;
  padding: 55px 20px 30px;
}

.newEventBlockHeader{
  display: block;
  font-weight: bold;
}


.info {
  display: flex;
  flex-direction: column;
}

.infoTitle {

}