.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0 0 30px 0 !important;
}

.field {
  margin-bottom: 20px !important;
}