.root {
  width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
}

.login {
  padding: 80px 110px;
  width: 100%;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: #4F4E4E;
  text-transform: inherit;
  margin: 0 0 40px 0;
  //text-decoration: ;
}

.field {
  margin-bottom: 20px !important;

}