.header {
  padding-top: 80px;
  width: 410px;
  height: 348px;

  .title {
    font-size: 60px;
    font-weight: 500;
  }

  .text {
    font-weight: 300;
    font-size: 24px;
    width: 610px;
  }
}

.training {
  padding-bottom: 110px;

  //TODO ДУБЛИРОВАНИЕ КОДА В 3х местах
  .servicesTitleWrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .servicesTitle {
    margin-top: 110px;
    min-width: 248px;
    position: relative;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    /* main_text */
    color: #4F4E4E;
    padding: 0 250px;

    &:before {
      content: "";
      display: block;
      width: 220px;
      height: 6px;
      background: #F0D3FF;
      border-radius: 55px;
      position: absolute;
      text-align: center;
      top: calc(50% - 3px);
      left: 0;
    }

    &:after {
      content: "";
      display: block;
      width: 220px;
      height: 6px;
      background: #F0D3FF;
      border-radius: 55px;
      position: absolute;
      top: calc(50% - 3px);
      right: 0;
      text-align: center;
    }
  }
};