.block {
  padding: 30px 60px;
}

.avatar {

}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  flex: 1;
  font-size: 20px;

  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.label {
  color: #D78DFF;
  width: 200px;
}

.text {
  width: 780px;
  font-size: 20px;
  padding-bottom: 30px;
}

