.container {
  padding: 60px;
}

.avatar {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  max-width: 500px;
}


.videos {
  display: flex;
  flex-direction: column;
}

.video {
  padding: 10px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #d38dff;
}

.videoItem {
  max-width: 150px;
  overflow-y: auto;

  &:not(:last-child) {
    border-right: 1px solid #D78DFF;
  }
}

// display video catalog

.videoCard {
  display: flex;
  border-bottom: 1px solid #D78DFF;
  padding-bottom: 20px;
}

.videoCardItem {
  width: 200px;
  font-size: 20px;
  font-weight: 500;

  &:first-child {
    width: 300px;
  }


  &:not(:last-child) {
    padding-right: 30px;
  }
}

.videoTitle {
  width: 300px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.videoDescription {
  width: 200px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.videoUrl {
  width: 250px;
  padding-right: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.link {
  color: #9747FF;
}
.cardEdit {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item {
  display: flex;
  flex: 1;
  font-size: 20px;

  &:not(:last-child) {
    padding-bottom: 20px;
  }
}

.label {
  color: #D78DFF;
  width: 180px;
}

.text {
  width: 780px;
  font-size: 20px;
  padding-bottom: 30px;
}
