.title {
  font-weight: 400;
  font-size: 40px;
  padding: 0px 0 10px 0px
}

.modal {
  padding: 3%;
}
//Appointments
.appointments {
  grid-template-columns: repeat(9, 1fr);

  display: grid;
  row-gap: 10px;
  //gap: 20px;

}
.appointmentsRow {
  grid-template-columns: repeat(9, 1fr);

  display: grid;
  row-gap: 10px;
  grid-column: span 9;
}

.sourcesFilter {
  display: flex;
  width: 35%;
  justify-content: space-between;
  margin: 0 0 20px 0;
}

.search {
  display: flex;
  min-width: 500px;
  padding: 18px 30px;
  font-size: 18px;
  align-items: center;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.65);
  border: none;
  outline: none;
  //margin-right: 20px;
  margin: 0 20px 20px 0;
}

.cell {
  display: grid;
  place-items: center;
  padding: 10px 0 10px 10px;
  font-size: 16px;
  border: 1px solid #d89ff6;
  justify-content: space-between;

  &:not(&:first-child) {
    border-left: 1px solid #d89ff6;
  }
}

.startCell {
  border-left: 1px solid #d89ff6;
  border-radius: 40px 0 0 40px;

}

.endCell {
  border-left: 1px solid #d89ff6;
  border-radius: 0 40px 40px 0;
}

.rowTable {

}
.message {
  padding: 20px;
  display: flex;
  max-width: 350px;
  min-height: 200px;
}
.openOption {
  color: blue; /* Установите цвет для опции "Открыто" */
}

.inProgressOption {
  color: green; /* Установите цвет для опции "В работе" */
}

.completedOption {
  color: purple; /* Установите цвет для опции "Завершено" */
}

.canceledOption {
  color: red; /* Установите цвет для опции "Отменено" */
}