.back {
  z-index: -5;
}

.main {
  display: grid;
  max-width: 1290px;
  margin: 0 auto;

  padding-bottom: 80px;
}

.description {
  position: relative;
  z-index: 3;
  max-width: 630px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 140%;
  color: #4F4E4E;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #4F4E4E;
  padding: 16px 0 80px 0;
  text-align: justify;
}

.servicesTitleWrap {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesTitle {
  min-width: 248px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  /* main_text */
  color: #4F4E4E;
  padding: 0 250px;

  &:before {
    content: "";
    display: block;
    width: 220px;
    height: 6px;
    background: #F0D3FF;
    border-radius: 55px;
    position: absolute;
    text-align: center;
    top: calc(50% - 3px);
    left: 0;
  }

  &:after {
    content: "";
    display: block;
    width: 220px;
    height: 6px;
    background: #F0D3FF;
    border-radius: 55px;
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    text-align: center;

  }
}

.servicesItems {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Распределение карточек по ширине контейнера с равными промежутками */
}

.serviceCard {
  max-width: 380px;

  margin: 10px; /* Отступы вокруг карточек для создания пространства между ними */
  flex: 1 1 250px; /* Карточки будут иметь базовую ширину 250px и будут расти, чтобы заполнить доступное пространство */
}


.serviceItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;
  gap: 30px;
  width: 410px;
  height: 570px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(255, 226, 255, 0.65);
  border-radius: 25px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

.image {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 10;

  &::after {
    z-index: -2;
    position: absolute;
    display: block;
    content: "";
    width: 216px;
    height: 216px;
    background: rgba(255, 226, 255, 0.5);
    filter: blur(10px);
    border-radius: 50%;
    top: 0;
    left: 0;
  }
}

.h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #4F4E4E;
}


.itemText {
  //position: relative;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #4F4E4E;

  li {
    margin-left: 25px;
    position: relative;
  }

  li::before {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -25px;
    top: 6px;
    border-radius: 50%;
    background: #D78DFF;
  }
}

.itemPrice {
  display: flex;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: #D78DFF;
}

.button {
  padding: 20px 30px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9e8dff;
    border: 2px solid #9e8dff;
  }
}

@media (max-width: 1200px) {
  .description {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {

  .servicesTitle {
    padding: 20px 50px;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .title {
    font-size: 35px;
  }

  .text {
    font-size: 20px;
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .list {
    max-width: 360px;
  }
}
