.wrapper {
  margin-top: 80px;
  min-height: 604px;
  padding-top: 50px;
  background: linear-gradient(79.76deg, #FAF4F9 0%, #FEFEFE 100%);


}

.section {
  text-align: center;
  padding-bottom: 30px;
}