
.smallCircle {
  z-index: -1;
  position: absolute;
  border-radius: 350.231px;
  background: rgba(237, 207, 253, 0.20);
}

.bigCircle {
  z-index: -1;
  position: absolute;
  border-radius: 350.231px;
  background: rgba(237, 207, 253, 0.20);
}

