.main {
  display: grid;
  max-width: 1290px;
  margin: 0 auto;
}

.description {
  max-width: 630px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 140%;
  color: #4F4E4E;
}

.appointmentFormBlock {
  position: relative;
}

.specialists {
  padding: 0;
  overflow: hidden;
}

.servicesTitleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesTitle {
  min-width: 248px;
  position: relative;

  line-height: 47px;
  text-transform: uppercase;

  color: #4F4E4E;
  padding: 40px 250px;

  &:before {
    content: "";
    display: block;
    width: 220px;
    height: 6px;
    background: #F0D3FF;
    border-radius: 55px;
    position: absolute;
    text-align: center;
    top: calc(50% - 3px);
    left: 0;
  }

  &:after {
    content: "";
    display: block;
    width: 220px;
    height: 6px;
    background: #F0D3FF;
    border-radius: 55px;
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    text-align: center;
  }
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #4F4E4E;
  padding: 16px 0 80px 0;
  text-align: justify;
}

.positionDoc {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 80px;
  align-items: center;
}

.name {
  font-weight: 500;
  color: #D78DFF;
  margin: 30px 0 10px 0;
}

.cardRow {
  width: 20%;
  padding: 10px;

  cursor: pointer;
}

.modalGallery {
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.margin {
  height: 40px;
}

.cardCert {
  padding: 0 10px;
}

.certificates {
  padding-bottom: 40px;
}

@media (max-width: 1200px) {
  .description {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .servicesTitle {
    padding: 20px 50px;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }

  .title {
    font-size: 35px;
  }

  .text {
    font-size: 20px;
    padding-bottom: 50px;
  }
}