.main {
  display: grid;
  max-width: 1290px;
  margin: 0 auto;
}

.description {
  max-width: 630px;
  margin-top: 80px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 140%;
  color: #4F4E4E;
}

.servicesTitleWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.servicesTitle {
  margin-top: 110px;
  min-width: 248px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  /* main_text */
  color: #4F4E4E;
  padding: 0 250px;

  &:before {
    content: "";
    display: block;
    width: 220px;
    height: 6px;
    background: #F0D3FF;
    border-radius: 55px;
    position: absolute;
    text-align: center;
    top: calc(50% - 3px);
    left: 0;
  }

  &:after {
    content: "";
    display: block;
    width: 220px;
    height: 6px;
    background: #F0D3FF;
    border-radius: 55px;
    position: absolute;
    top: calc(50% - 3px);
    right: 0;
    text-align: center;
  }
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  color: #4F4E4E;
  margin: 16px 0 80px 0;
}

.positionDoc {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 40px 60px 80px;
  align-items: center;
}


.name {
  font-weight: 500;
  color: #D78DFF;
  margin: 30px 0 10px 0;
}

.cardRow {
  width: 20%;
  padding: 10px;
}

.modalGallery {
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.margin {
  height: 40px;
}
.certificates {
  padding: 0 20px ;
}