.wrapper {
  height: 690px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.img {
  position: relative;
  width: 50%;
}

.one {
  position: absolute;
  width: 261px;
  height: 261px;
  left: 61.5px;
  top: 0;
}

.two {
  width: 208.03px;
  height: 208.03px;
  position: absolute;
  top: 131px;
  left: 348px;
}

.three {
  width: 410px;
  height: 410px;
  position: absolute;
  top: 281px;
}

.description {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.name {
  text-align: left;
  width: 500px;
}
.text {
  margin: 10px 0 30px 0;
}

.button {
  width: 370px;
  height: 64px;
  background: #D78DFF;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
  &:hover {
    cursor: pointer;
  }
}