.block {
  padding: 50px;
}

.title {
  padding-bottom: 5px;
  text-align: center;
}

.formCreateEmployer {
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.phone {
  margin-bottom: 0;
  margin-top: 10px;
}

.input {
  outline: none;
  font-size: 20px;
  border: 1px solid #D78DFF;
  padding: 20px 30px;
  border-radius: 40px;

  margin-top: 10px;

  &:focus {
    border: 1px solid #D78DFF;
    box-shadow: 0 2px 2px rgb(227, 199, 245);
  }
}

.textarea {
  outline: none;
  font-size: 20px;
  border: 1px solid #D78DFF;
  padding: 20px 30px;
  border-radius: 40px;
  resize: none;
  min-height: 150px;
  margin-top: 10px;

  &:focus {
    border: 1px solid #D78DFF;
    box-shadow: 0 2px 2px rgb(227, 199, 245);
  }
}

.button {
  cursor: pointer;
  padding: 20px 30px;
  background: #D78DFF;
  border: none;
  border-radius: 40px;
  font-size: 20px;
  margin-top: 20px;
  color: #FFFFFF;

  &:hover {
    background: #9e8dff;
  }

  &:active {
    background: #9e8dff;
    opacity: 0.8;
  }
}

.message {
  padding: 50px;
}
