.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 80px 40px 40px;
  color: #4F4E4E;
}

.card {
  width: 240px;
  padding: 30px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.35),
  0 0 20px 0 rgba(255, 153, 255, 0.35);

  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    box-shadow: 0 0 20px 0 rgba(255, 226, 255, 0.65),
    0 0 20px 0 rgba(255, 153, 255, 0.65);
    cursor: pointer;
  }
}

.fullName {
  font-size: 20px;
  max-width: 120px;
  font-weight: 500;
  text-align: center;
  line-height: 28px;
  padding-top: 15px;
}

.email {
  padding-top: 5px;
}

.profession {
  padding-top: 15px;
  color: #D78DFF;
}