.center {
  text-align: center;
}

.margin_tb_10 {
  margin: 10px 0;
}

.name {
  min-height: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #4F4E4E;
  padding: 15px 0;
}

.description {
  min-height: 108px;
  display: flex;
  padding-left: 0;
  align-self: stretch;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  min-height: 480px;
  max-width: 360px;
  min-width: 350px;
  background: #FFFFFF;
  box-shadow: 0 0 20px rgba(255, 226, 255, 0.65);
  border-radius: 25px;

  &:hover {
    box-shadow: 0 0 20px rgba(255, 153, 255, 0.65);
    cursor: pointer;
  }

  @media screen and (max-width: 1289px) and (min-width: 850px) {
    width: 45%;

    &:nth-child(odd) {
      margin-left: 50px;
    }
  }
  @media screen and (max-width: 849px) {
    width: 80%;
  }
}

.fullCard {
  display: flex;
  width: 1070px;
  height: 490px;
}

.flexCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  width: 200px;
  height: 200px;
  margin: 0 0 10px 0;

  display: block;
  position: relative;
  z-index: 10;

  &::after {
    z-index: -2;
    position: absolute;
    display: block;
    content: "";
    width: 220px;
    height: 220px;
    background: rgba(255, 226, 255, 0.5);
    filter: blur(10px);
    border-radius: 50%;
    top: 0;
    left: 0;
  }
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #D78DFF;
  border-radius: 50%;
  margin-right: 15px;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.price {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
  color: #D78DFF;
  margin-top: 18px;
  width: 100%;
}

.direction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;
}

.skeleton {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  &Content {
    padding: 38px;
  }


  &Title {
    width: 100%;
    margin-bottom: 15px;
  }

}

.serviceImage {
  border-radius: 50px 0 0 50px;
  width: 410px;

  object-fit: cover;
  object-position: center;
}

.modalCard {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modalName {
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  text-transform: uppercase;
  color: #4F4E4E;
}

.moduleText {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #4F4E4E;
}

.moduleFullRecommendations {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #4F4E4E;

  li {
    margin: 10px 0 10px 25px;
    position: relative;
  }

  li::before {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -25px;
    top: 6px;
    border-radius: 50%;
    background: #D78DFF;
  }
}


.recommendations {
  padding-left: 26px;
  width: 100%;
}

.flexSB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px 30px;
  gap: 10px;

  width: 174px;
  height: 64px;

  /* pink */

  background: #D78DFF;
  border: none;
  border-radius: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #FFFFFF;

  &:hover {
    background: #9e8dff;
  }

  &:active {
    background: #9e8dff;
    opacity: 0.8;
  }
}