.card {
  padding: 30px 60px 40px 60px;
}

.healthIdTitle {
  font-size: 24px;
  padding-bottom: 20px;
}

.healthIdImg {
  width: 150px;
  padding-bottom: 10px;
}

.healthIdName {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-top: 10px;
}

.healthIdEmail {
  padding-top: 10px;
  span {
    padding-right: 10px
  }
}

.healthIdWrp {
  display: flex;
  flex-direction: column;
}

.recommendations {
  border: 1px solid #D78DFF;
  border-radius: 10px;
  resize: none;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  min-width: 300px;
  min-height: 200px;
}

.healthIdPhone {
  padding-top: 10px;
}

.healthIdBirth {
  padding-top: 10px;
}

.label {
  color: #D78DFF;
  padding-top: 10px;
}

.labelTrening {
  padding-top: 5px;
}
.labelRecommendations {
  padding-top: 5px;
}