.arrowBackground {
  position: absolute;
  bottom: 293px;
  width: 64px;
  height: 64px;
  background: #D78DFF;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.arrow {
  font-size: 22px;
  color: #fff;
  background-color: #D78DFF;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.right {
  transform: rotate(180deg);
}

.arrowPositionRight {
  right: 191px;
}

.arrowPositionLeft {
  left: 191px;
}
