.title {
  font-weight: 400;
  font-size: 40px;
  padding: 30px 0 100px 40px
}

.content {
  padding: 40px;
}

.text {
  text-align: center;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 40px;
}

.trainingTitle {
  font-weight: 500;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.trainingList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1290px;
}

.trainingItem {
  width: 350px;
  display: flex;
  flex-direction: column;
  background: none;

  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.trainingItemWrp {
  background: white;
  padding-left: 30px;
  box-shadow: 0 0 20px rgba(255, 226, 255, 0.65);
  border-radius: 0 0 25px 25px;
  position: relative;
}

.trainingItemText {
  padding: 30px 20px;
  font-weight: 300;
  font-size: 20px;
}

.trainingItemImg {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.message {
  font-size: 30px;
}