.block {
  max-width: 1290px;
}

.title {
  font-weight: 400;
  font-size: 40px;
  padding: 30px 0 100px 40px
}

.text {
  text-align: left;
  font-weight: 300;
  font-size: 20px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.videoContainer {
  display: flex;
  flex-direction: row;
  padding: 0 0 50px 40px;
}

.videoContent {
  padding-left: 50px;
}

.videoTitle {
  font-weight: 500;
  font-size: 30px;
  padding-bottom: 20px;
}

.videoText {
  text-align: justify;
  min-width: 650px;
}