.container {
  width: 100%;
  max-width: 1540px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1540px;
  position: relative;
  padding: 0 7%;
}

.contentWrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.content::-webkit-scrollbar, .content::-webkit-scrollbar {
  display: none;
}

.content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}


.content.num2 > * {
  width: 50%;
}

.content.num3 > * {
  width: calc(100% / 3);
}

.content.num4 > * {
  width: calc(100% / 4);
}

.leftArrow, .rightArrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #D78DFF;
  //border: 1px solid #ddd;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: #5D3274;
  }
}

.leftArrow {
  left: 24px;
}

.rightArrow {
  right: 24px;
}

.dots {
  display: flex;
  justify-content: center;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #F0D3FF;
  margin-right: 10px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.dotActive {
  background: #5D3274;
}

@media (min-width: 1200px) {
  .dots {
    padding-bottom: 30px;
  }
}

@media (max-width: 1200px) {
  .slider {
    height: 50vh;
  }

  .leftArrow {
    width: 44px;
    height: 44px;
  }

  .rightArrow {
    width: 44px;
    height: 44px;
  }

  .dots {
    padding-bottom: 20px;
  }

  .dot {
    width: 12px;
    height: 12px;
  }

}

/* Для экранов шириной 768 */
@media (max-width: 768px) {

  .leftArrow {
    width: 34px;
    height: 34px;
  }

  .rightArrow {
    width: 34px;
    height: 34px;
  }

  .dots {
    padding-bottom: 10px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }
}

/* Для экранов шириной 400px */
@media (max-width: 500px) {
  .leftArrow {
    display: none;
  }

  .rightArrow {
    display: none;
  }

  .dots {
    padding-bottom: 10px;
  }

  .dot {
    width: 8px;
    height: 8px;
  }
}