.slider {
  height: 75vh; /* Процент от высоты окна просмотра */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}

.sliderBackground {
  position: absolute;
  top: -17.5vh; /* Процент от высоты окна просмотра */
}

.sliderImg {
  position: absolute;
  width: 100%;
  max-height: 81.25vh; /* Процент от высоты окна просмотра */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contain {
  position: relative;
  display: flex;
  overflow: hidden;
  transition: translate;
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.sliderName {
  font-weight: 500;
  line-height: 140%;
  font-size: 60px;
  text-transform: uppercase;
  width: 78.75vw; /* Максимальная ширина, которую элемент может занимать */
  height: auto; /* Высота автоматически адаптируется под содержимое */
  max-width: 630px; /* Максимальная ширина для больших экранов */
}

.sliderText {
  margin-top: 1.25vh;
  font-weight: 300;
  font-size: 22px; /* Относительно ширины окна просмотра */
  line-height: 140%;
  height: auto; /* Высота автоматически адаптируется под содержимое */
  max-width: 630px; /* Максимальная ширина для больших экранов */
}

.signUp {
  margin-top: 2.5vh;
  width: 10.875vw; /* Процент от ширины окна просмотра */
  height: 8vh; /* Процент от высоты окна просмотра */
  max-width: 174px; /* Максимальная ширина для больших экранов */
  max-height: 64px; /* Максимальная высота для больших экранов */
  background: #D78DFF;
  border-radius: 40px;
  border: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.25vw; /* Относительно ширины окна просмотра */
  line-height: 24px;

  &:hover {
    cursor: pointer;
  }
}

.dots {
  display: flex;
  justify-content: center;
  margin-bottom: 7.5vh; /* Процент от высоты окна просмотра */
}

@media (min-width: 1200px) {
  .slider {
    padding: 0 8%;
  }
}


@media (max-width: 1200px) {
  .slider {
    height: 50vh;
    padding: 0 8%;
  }
}

/* Для экранов шириной 768px */
@media (max-width: 768px) {
  .slider {
    height: 40vh;
    padding: 0 10%;
  }

  .sliderName {
    font-size: 40px;
  }

  .sliderText {
    font-size: 18px;
  }
}
