.slider {
  height: 600px;
  display: flex;
  flex-direction: column;
  padding: 160px 160px 0 ;
  box-sizing: border-box;
  min-width: 1290px;
}

  .sliderBackground {
    position: absolute;
    top: -140px;
  }

  .sliderImg {
    position: absolute;
    width: 100%;
    height: 650px;
    z-index: -2;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contain {
    position: relative;
    display: flex;
    overflow: hidden;

    transition: translate;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
  }


  .sliderName {
    font-weight: 500;
    font-size: 80px;
    line-height: 140%;
    text-transform: uppercase;
    width: 630px;
    height: 112px;
  }

  .sliderText {
    margin-top: 10px;
    font-weight: 300;
    font-size: 24px;
    line-height: 140%;
    width: 630px;
    height: 102px;
  }

  .signUp {
    margin-top: 30px;
    width: 174px;
    height: 64px;
    background: #D78DFF;
    border-radius: 40px;
    border: none;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    &:hover {
      cursor: pointer;
    }
  }

  .dots {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }