.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 520px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  width: 660px;
  margin-top: -70px;
}

.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: -61.69px;
  top: 41.87px;
  background: #F0D3FF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 465px;
  width: 100%;
  background-size: cover;
  background-position: 100% 15%;
  background-repeat: no-repeat;
  border-radius:  40px 40px 0 0;
}

.nameSection {
  text-align: left;
}

.descriptionSpecialist {
  padding: 10px 0 30px 0;
  font-size: 24px;
}

.description {
  width: 100%;
  padding: 30px;
  border-radius: 0 0 25px 25px;
  background: var(--white, #FFF);
  box-shadow: 0 4px 20px 0 rgba(255, 226, 255, 0.55);
}

.nameSpecialist {
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #D78DFF;
}

.profSpecialist {
  line-height: 130%;
  text-align: center;
  width: 460px;
}

.button {
  padding: 20px 30px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #D78DFF;
  color: #fff;
  border: none;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9e8dff;
  }
}