.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  max-width: 490px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  max-width: 660px;
}

.logo {
  position: absolute;
  width: 150px;
  height: 150px;
  left: -61.69px;
  top: 41.87px;
  background: #F0D3FF;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 465px;
  width: 100%;
  background-size: cover;
  background-position: 100% 15%;
  background-repeat: no-repeat;
  border-radius: 40px 40px 0 0;
}

.description {
  width: 100%;
  padding: 30px;
  border-radius: 0 0 25px 25px;
  background: var(--white, #FFF);
  box-shadow: 0 4px 20px 0 rgba(255, 226, 255, 0.55);
}

.descriptionSpecialist {
  padding: 10px 0 30px 0;
  font-size: 24px;
  text-align: justify;
}


.nameSpecialist {
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #D78DFF;
}

.profSpecialist {
  line-height: 130%;
  text-align: center;
}

.button {
  padding: 20px 30px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #D78DFF;
  color: #fff;
  border: none;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9e8dff;
  }
}

@media (min-width: 1200px) {
  .position {
    padding-bottom: 50px;
  }
}

@media (max-width: 1200px) {
  .logo {
    display: none;
  }

  .avatar {
    height: 400px; /* Уменьшаем высоту аватара */
    width: 80%;
  }

  .description {
    width: 80%;
  }

  .right {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media (max-width: 1000px) {
  .logo {
    display: flex;
  }

  .position {
    flex-direction: column;
    padding-bottom: 40px;
  }

  .left {
    padding-bottom: 40px;
  }
}

@media (max-width: 900px) {
  .avatar {
    width: 80%;
  }
}


@media (max-width: 768px) {
  .logo {
    display: none;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nameSection {
    display: none;
  }
}