.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title {
  padding-bottom: 40px;
}

.form {
  width: 500px;
  padding: 40px;

  border: 1px solid #D78DFF;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.label {
  padding-bottom: 8px;
  font-size: 16px;
}

.input {
  margin-bottom: 20px;
  outline: none;
  font-size: 18px;
  border: 1px solid #D78DFF;
  padding: 20px 30px;
  border-radius: 40px;

  &:focus {
    border: 1px solid #D78DFF;
    box-shadow: 0 5px 5px rgb(216, 159, 246, 0.3);
  }
}

.button {
  cursor: pointer;
  padding: 20px;
  background: #D78DFF;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  color: #ffffff;

  &:hover {
    background: #9e8dff;
  }

  &:active {
    background: #9e8dff;
    opacity: 0.8;
  }
}

.blockPass {
  display: flex;
  flex-direction: column;

  position: relative;
}

.error {
  color: #9747FF;
  font-size: 12px;
  position: absolute;
  right: 15px;
  top: 0;
}

.message {
  padding-top: 20px;
  text-align: center;
  color: #9747FF;
  font-weight: 400;
  font-size: 20px;
}