@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap');

//mixin
@import "./styles/mixins";

//variables
@import "./styles/variables";


* {
  font-family: Rubik, serif;
  color: #4F4E4E;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 140%;
  text-transform: uppercase;
  text-align: center;
  @media screen and (max-width: 1289px) {
    font-size: 34px;
  }
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
}

h4 {
  font-weight: 400;
  font-size: 40px;
  line-height: 130%;
  margin-top: 40px;
  margin-left: 40px;
}

p {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  @media screen and (max-width: 1289px) {
    font-size: 18px;
  }
}

.container {
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: 1290px) {
    width: 1290px;
  }
  @media screen and (max-width: 1289px) {
    width: auto;
  }
}


.container-color {
  background: linear-gradient(79.76deg, #FAF4F9 0%, #FEFEFE 100%);
}

.container-carousel {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 7%;
  justify-content: center;
  flex-direction: column;
}

.container-slider {
  z-index: 1;
  flex-direction: column;
}

.activeSlide {
  transform: translateX(0);
}

.lastSlide {
  transform: translateX(-100%);
}

.nextSlide {
  transform: translateX(100%);
}

a {
  text-decoration: none;
}

.active {
  color: #D78DFF;
}

.circleFirst {
  position: absolute;
  width: 346px;
  height: 335px;
  border-radius: 50%;
  left: 3px;
  top: 39px;
  background: rgba(237, 207, 253, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;
}

.circleSecond {
  position: absolute;
  width: 192px;
  height: 190px;
  left: 210px;
  top: 0;
  background: rgba(237, 207, 253, 0.2);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 50%;
  z-index: -1;
}

.flexRelative {
  position: relative;
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5500s ease-in-out 0s;
  //-webkit-text-fill-color: #AEAEAE !important;
}


.react-datepicker {
  height: 280px;
}

.react-datepicker__month-container {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.react-datepicker__header {
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #D78DFF !important;
}

.react-datepicker__day--selected {
  background-color: #9e8dff !important;
}

.react-datepicker__day {
  font-size: 16px;
}


// ДЛЯ PHONE INPUT

.PhoneInput {
  border: 1px solid #D78DFF;
  border-radius: 40px;
  padding: 20px 30px;
  margin-bottom: 20px;
}

.PhoneInputInput {
  outline: none;
  font-size: 20px;
  font-weight: 400;
  border: none;
  display: flex;
  align-items: center;
  padding-left: 10px;
  color: #636363;
}

.PhoneInputCountryIcon--border {
  margin-right: 5px;
}

.PhoneInputCountrySelectArrow {
  color: #d89ff6;
  font-size: 30px;
  font-weight: 700;
}

.PhoneInput--focus {
  box-shadow: 0 4px 4px rgb(216, 159, 246) !important;
}

// REACTSELECT из карточки пациента
.css-1u9des2-indicatorSeparator {
  display: none;
}

//Profile

.phoneInputProfile {
  border: 1px solid #D78DFF;
  border-radius: 40px;
  padding: 10px 20px;
  margin-bottom: 10px;
  margin-top: 3px;
}

// Для кнопки удалить
.remove {
  cursor: pointer;
  width: 20px;
  height: 20px;

  &::before, &::after {
    position: absolute;

    content: "";
    right: 12px;
    top: 20px;
    width: 20px;
    height: 4px;
    background: #D78DFF;
    border-radius: 40px;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }

  &:hover {
    &::before,
    &::after {
      background: #9747FF;
    }
  }
}

.serviceDescription {
  li {
    line-height: 130%;
    display: flex;
    align-items: center;
    margin: 10px 0 10px 25px;
    position: relative;
  }

  li::before {
    display: block;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -25px;
    top: 4px;
    border-radius: 50%;
    background: #D78DFF;
  }
}

.adminButton {
  margin-top: 15px;
  border: 1px solid #D78DFF;
  background: #D78DFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  font-size: 18px;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9e8dff;
    border: 1px solid #9e8dff;
  }
}

.myDatePicker .MuiInputBase-root {
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px solid #D78DFF;
  border-radius: 40px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.myDatePicker .MuiInputBase-root:focus {
  border-color: #D78DFF;
  box-shadow: 0 0 0 2px rgba(215, 141, 255, 0.5);
}

.myDatePicker .MuiInputBase-input {
  padding: 10px;
}

.myDatePicker .MuiInput-underline:before,
.myDatePicker .MuiInput-underline:after,
.myDatePicker .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: none;
}

.myDatePicker .MuiOutlinedInput-notchedOutline {
  border: none;
}

.myAutocomplete .MuiOutlinedInput-root {
  outline: none;
  padding: 4px;
  border: 1px solid #D78DFF;
  border-radius: 40px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.myAutocomplete .MuiOutlinedInput-root.Mui-focused {
  border-color: #D78DFF;
  box-shadow: 0 1px 0 1px rgba(215, 141, 255, 0.4);
}

.myAutocomplete .MuiAutocomplete-clearIndicator,
.myAutocomplete .MuiAutocomplete-popupIndicator {
  color: #D78DFF;
}

.myAutocomplete .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border: none;
}

.myAutocomplete .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border: none; /* Цвет границы при фокусе */
  box-shadow: none; /* Убираем тень */
}

.myAutocomplete .MuiAutocomplete-clearIndicator:hover,
.myAutocomplete .MuiAutocomplete-popupIndicator:hover {
  background-color: transparent; /* Убираем фоновый цвет при наведении */
}

.myAutocomplete .MuiAutocomplete-clearIndicator:active,
.myAutocomplete .MuiAutocomplete-popupIndicator:active {
  background-color: transparent; /* Убираем фоновый цвет при нажатии */
}

.myAutocomplete .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-endAdornment {
  right: 8px;
}

.myAutocomplete .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-width: 0;
}


// для кнопок

.cancel {
  width: 200px;
  margin-left: 20px;
}

.save {
  width: 200px;
}
