.title {
  font-weight: 400;
  font-size: 40px;
  padding: 30px 0 100px 40px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1600px;
}

.healthId {
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(248, 179, 248, 0.65), 0 0 15px rgba(255, 226, 255, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px 0 40px;
}

.healthIdTitle {
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 25px;
}


.healthIdWrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.healthIdImg {
  width: 150px;
  border-radius: 15px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #D78DFF;
  font-weight: 400;
  text-transform: uppercase;
}

.input {
  font-size: 20px;
  border: 1px solid #D78DFF;
  border-radius: 40px;
  padding: 10px 20px;
  margin-top: 3px;
  margin-bottom: 15px;
  outline: none;

  &:focus {
    box-shadow: 0 4px 4px rgb(229, 196, 248);
  }
}

.button {
  margin-top: 20px;
  width: 100% ;
  border: 1px solid #D78DFF;
  background: #D78DFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: #9e8dff;
    border: 1px solid #9e8dff;
  }
}

.content {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}

.recommendations {
  display: flex;
  justify-content: space-between;
}

.training {
  width: 290px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(248, 179, 248, 0.65), 0 0 15px rgba(255, 226, 255, 0.65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 5px;

  span {
    padding: 10px 0;
  }
}

.subTitle {
  text-transform: uppercase;
  font-weight: 500;
}

.mySpecialist {
  padding: 15px;
  width: 270px;
  height: 200px;
  box-shadow: 0 0 15px rgba(248, 179, 248, 0.65), 0 0 15px rgba(255, 226, 255, 0.65);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mySpecialistImg {
  padding-top: 10px;
  width: 80px;
  border-radius: 15px;
  padding-bottom: 5px;
}

.healthNote {
  width: 400px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(248, 179, 248, 0.65), 0 0 15px rgba(255, 226, 255, 0.65);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.healthNoteList {
  padding-top: 10px;
}

.healthNoteItem {
  padding-bottom: 10px;
  color: #9747FF;
  list-style-type: circle;
  text-align: center;
}


.appointment {
  margin-top: 20px;
  width: 1000px;
  box-shadow: 0 0 15px rgba(248, 179, 248, 0.65), 0 0 15px rgba(255, 226, 255, 0.65);
  border-radius: 20px;
}

.appointmentTitle {
  text-transform: uppercase;
  padding: 25px;
}