.container {
  height: 100vh;
  background-color: #FFFCFF;
}

.containerAdmin {
  display: flex;
}

.content {
  position: relative;
  max-width: 1500px;
  width: 100%;
  height: 100vh;
}


// инфо о залогиненном профиле
.adminBlock {
  position: absolute;
  right: 0;
  top: 20px;
}

.sidebar {
  width: 300px;
  background-color: #FFFFFF;
  height: 100vh;
}

.logo {
  width: 300px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuList {
  font-size: 18px;
  font-weight: 400;
}

.menuListItem {
  padding-left: 30px;
  height: 43px;
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  &::before {
    content: '';
    width: 20px;
    height: 20px;
    background: #4F4E4E;
    margin-right: 12px;
  }
}


.active {
  display: flex;
  background: linear-gradient(79.76deg, #EDCCFF 0%, #FEFEFE 100%);
  align-items: center;
}